version: '3.9'

services:
    vendo-sdk-php:
        build: docker/php
        volumes:
            - ./:/var/www
        networks:
            default: ~
        environment:
            - XDEBUG_SESSION=PHPSTORM
        #extra_hosts:
            #- "${VENDO_BASE_HOST_LOCAL}:host-gateway"
networks:
    default:
        name: localdev
